@import "tailwindcss";

:root {
  --background: #F3E8FF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #6B21A8;
  --color-primary-dark: #581C87;
  --color-success: #34D399;
  --color-success-light: #D1FAE5;
  --color-warning: #FEF9C3;
  --color-warning-dark: #854D0E;
  --color-danger: rgba(255, 22, 22, 0.41);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
